@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.subtitles {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.list-group-item:hover {
  transition: 0.7s;
}
body {
  background-color: #dedede;
  background-image: url(https://www.icegif.com/wp-content/uploads/rain-icegif-7.gif);
  background-position: center;
  background-size: cover;
  padding-top: 10px;
}
.title {
  background: linear-gradient(-45deg, #656cb9, #070022, #697ffd, #120c2c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-family: "Lora", serif;
}
.images {
  width: 150px;
}
